<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<style>
    .btn-margin-top {
        margin-top: 30px;
    }
</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/">Home</a>&nbsp;||
			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a>
		</div>
		<div class="col-6 text-right">
			Logged in user: <span sec:authentication="name"></span> Role(s): <span sec:authentication="principal.authorities"></span>
			<form th:action="@{/app-logout}" method="POST">
				<input type="submit" value="Logout" class="btn-margin-top"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Rating List</h2></div>
	<div class="row">
		<a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>MoodysRating</th>
					<th>SandPRating</th>
					<th>FitchRating</th>
					<th>Order</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<!-- TODO: Show all Rating to the table, the Action column will have Edit & Delete buttons -->
			<th:block th:each="rating : ${listOfRatings}">
				<tr>
					<td th:text="${rating.rating_id}"></td>
					<td th:text="${rating.moodys_rating}"></td>
					<td th:text="${rating.sandprating}"></td>
					<td th:text="${rating.fitch_rating}"></td>
					<td th:text="${rating.order_number}"></td>
					<td ><span><a th:href="@{/rating/update/{id}(id = ${rating.rating_id})}">update</a>
					</span><span><a th:href="@{/rating/delete/{id}(id = ${rating.rating_id})}">Delete</a></span></td>

				</tr>
			</th:block>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>