<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Spring Boot</title>
</head>
<body>
   <h3>Access Denied Exception</h3>
   <div>
	    Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
	    <div class="col-6 text-right">
			Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
		  	<div>
			  	<a class="nav-link" th:href="@{/logout}">Logout</a>
		  	</div>  
		</div>
   </div> 	 
    <p class="error" th:text="${errorMsg}">Error</p>
</body>
</html>   