<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> HOME PAGE </h3>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/bidlist/list">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvepoint/list">Curve Points</a>&nbsp;|&nbsp;
            <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
            <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
            <a href="/rulename/list">Rule</a>
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>
<p>
    <a href="/login">Login</a> or create one <a href="/user/list">User management</a>
</p>
</body>
</html>