<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> HOME PAGE </h3>
<p>
    <a href="/login">Login</a> or create one <a href="/user/list">User management</a>
</p>
<div class="col-6">
    <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
    <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
    <a href="/rating/list">Ratings List</a>&nbsp;|&nbsp;
    <a href="/trade/list">Trade List</a>&nbsp;|&nbsp;
    <a href="/ruleName/list">Rule List</a>
</div>
</body>
</html>