<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Trade</h2>
    </div>

    <div class="row">
        <form action="#" class="form-horizontal" method="post" style="width: 100%" th:action="@{/trade/validate}"
              th:object="${trade}">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="account">Account</label>
                <div class="col-sm-10">
                    <input class="form-control" id="account" placeholder="Account" th:field="*{account}" type="text">
                    <p class="text-danger" th:errors="*{account}" th:if="${#fields.hasErrors('account')}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="type">Type</label>
                <div class="col-sm-10">
                    <input class="form-control" id="type" placeholder="Type" th:field="*{type}" type="text">
                    <p class="text-danger" th:errors="*{type}" th:if="${#fields.hasErrors('type')}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="buyQuantity">Buy Quantity</label>
                <div class="col-sm-10">
                    <input class="form-control" id="buyQuantity" placeholder="Buy Quantity" step="0.01" th:field="*{buyQuantity}"
                           type="number">
                    <p class="text-danger" th:errors="*{buyQuantity}" th:if="${#fields.hasErrors('buyQuantity')}">
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-primary" th:href="@{/trade/list}">Cancel</button>
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>