<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" th:object="${ruleDto}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Rule Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{name}" id="name" placeholder="Rule Name" class="col-4">
				</div>
			</div>

			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Rule Description</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{description}" id="description" placeholder="Rule Description" class="col-4">
				</div>
			</div>

			<div class="form-group">
				<label for="json" class="col-sm-2 control-label">JSON</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{json}" id="json" placeholder="JSON" class="col-4">
				</div>
			</div>

			<div class="form-group">
				<label for="template" class="col-sm-2 control-label">Template</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{template}" id="template" placeholder="Template" class="col-4">
				</div>
			</div>

			<div class="form-group">
				<label for="sqlStr" class="col-sm-2 control-label">SQL String</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sqlStr}" id="sqlStr" placeholder="Sql String" class="col-4">
				</div>
			</div>

			<div class="form-group">
				<label for="sqlPart" class="col-sm-2 control-label">SQL Part</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sqlPart}" id="sqlPart" placeholder="SQL Part" class="col-4">
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" href="/ruleName/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Update Rule">
				</div>
			</div>

		</form>
	</div>

</div>
</body>
</html>